    <div id="products" class="transitions-enabled">

    <% @products.each do |product| %>
        <div class="box">
        <%=link_to image_tag(product.image.url(:medium)),product %><br/>
        <div class="panel-body">
        <%= product.description %><br/>
        <%= product.price %><br/>
        </div>
        
      <% if product.user==current_user%>
         |<%= link_to 'Edit', edit_product_path(product) %>|
         <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
        <%end%>
        </div>
    <% end %>
</div>


<div class="center">
<%= link_to 'New Product', new_product_path %><br/>
<%= will_paginate @products,renderer: BootstrapPagination::Rails %>
</div>
