    <div id="products" class="transitions-enabled">

    <% @products.each do |product| %>
        <div class="box">
        <%=link_to image_tag(product.image.url(:medium)),product %><br/>
        <div class="center">
        <div class="panel-body">
        
        <%= product.product_code %><br/>
        </div>
      <% if product.user==current_user%>
         <%= link_to fa_icon("pencil") + 'Edit', edit_product_path(product), class: "btn btn-primary btn-xs" %>
         <%= link_to fa_icon("trash") + 'Delete', product, class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %><br/>
        <%end%>
        </div>
        </div>
    <% end %>
</div>

<div class="center">
<% if user_signed_in? %>
<%= link_to fa_icon("plus") + 'New Product', new_product_path, class: "btn btn-success" %>
<%end%>
<%= will_paginate @products,renderer: BootstrapPagination::Rails %>
</div>