<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Welcome to SK Dresses Inc.</title>
   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrap">

<%= render 'home/header' %>


<div class="container">
<ul>

<!--This is where I would add the links to New Arrivals, Dresses, Bags and Sale-->


<li><b><%= link_to 'Our Collection', products_dresses_path%></b></li>


</ul></b>
</div><!--First Container-->

<div class="container">
<% flash.each do |name,msg| %>
<%=content_tag(:div, msg, class:"alert alert-info")%>
<%end%>

</div> <!--Second Container-->

<div class="container">
<%= yield %> 
</div>

<div id="push"></div>


</div> <!--wrap-->

<!--<div id="footer">
<div class="container">
<p class="text-muted">SK Dress Inc. Your One Stop Shop for Quality Clothing!</p>
</div>
</div>
-->

</body>
</html>
