<!DOCTYPE html>
<html>
<head>
  <title>Welcome to SK Dresses Inc.</title>
   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'home/header' %>

<div class="container">
<ul>

<!--This is where I would add the links to New Arrivals, Dresses, Bags and Sale-->


<li><b><%= link_to 'Dresses', products_dresses_path%></b></li>


</ul></b>

<div class="container">
<% flash.each do |name,msg| %>
<%=content_tag(:div, msg, class:"alert alert-info")%>
<%end%>

</div>
<%= yield %>
</div>

</body>
</html>
