<!DOCTYPE html>
<html>
<head>
  <title>Welcome to SK Dresses Inc.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'home/header' %>

<div class="container">
<ul>
<li> <b><%= link_to 'New Arrivals', products_newarrivals_path%> </b> </li>

<li><b><%= link_to 'Dresses', products_dresses_path%></b></li>

<li><b><%=link_to 'Bags', products_bags_path%></b></li>

<li><b><%=link_to 'Sale', products_sale_path%></b></li>	

</ul></b>

<%= yield %>
</div>

</body>
</html>
